<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Accueil | NAME</title>
</head>
<body>
    <header>
        <img src="./src/img/Logo.webp" alt="">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/login">Se connecter</a></li>
            <li><a href="/register">Créé un compte</a></li>
        </ul>
    </header>
    <div class="banner">
        <h1>NAME</h1>
        <h2>🎧 Trouve le DJ parfait pour ta soirée ! 🎶</h2>
    </div>
    <div class="text-banner">
        <p>Tu organises une fête et tu veux une ambiance de folie ? Notre plateforme te connecte aux meilleurs DJs pour transformer ton événement en une nuit mémorable. Mariages, anniversaires, soirées privées ou clubs, trouve en quelques clics le DJ qui correspond à ton style et ton budget.</p>
        <p>🔥 Des pros du son, une ambiance garantie, zéro stress ! 🔥</p>
        <p>Il te suffit de poster ta demande, comparer les profils et réserver le DJ idéal. Simple, rapide, efficace ! 🚀🎵</p>
        
    </div>
    <a href="/register" class="start-btn">Commencer maintenant</a>

    <div class="images-section">
        <h2>Toujours pas convaincu ?</h2>
        <div class="image-container">
            <img src="image1.jpg" alt="Image 1">
            <img src="image2.jpg" alt="Image 2">
            <img src="image3.jpg" alt="Image 3">
        </div>
        <p>Jette un œil et imagine l’ambiance... Prêt à passer une soirée inoubliable ? 🔥</p>
    </div>
    


    <footer>
        <p>&copy; 2025 - Tous droits réservés.</p>
        <ul>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Conditions d'utilisation</a></li>
        </ul>
    </footer>
</body>
</html>
